form {
    width: 80%;
    background-color: #fde5d8;
    margin: 0 auto;
    padding: 60px 30px;
    text-align: center;
}

form p {
    font-weight: lighter;
    font-size: 14px;
    font-variant: all-small-caps;
    margin-bottom: 20px;
}

form label {
    display: inline-block;
    margin-right: 14px;
}

form input[type="submit"] {
    padding:10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #0a6ebd;
    color: #fff;
}

.bien {
    color: #0a602c;
}
.error {
    color: #6b0100;
}